main{
    display: flex;
    flex-direction: column;
    padding: 4% 0 0 5%;
}
.top{
    justify-content: flex-start;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
}
li:nth-child(1)>span{
    font-size: 2em;
    display: flex;
}
li:nth-child(2)>span{
    font-size: 1em;
    display: flex;
    color: rgb(100, 98, 98);
}
img{
    width:10rem;
}
// End of Top div
.middle,.bottom{
    display: flex;
    flex-direction: row;
    margin:2%;
    justify-content: space-between;
    font-size: 1em;
}
div>div{
    display: flex;
    flex-direction: column;
    width:30%;
    overflow:auto;
    text-align: left;
    flex-wrap:wrap;
}
div>span:last-child{
    font-size:1.5em;
    color: #000;
}
div>span:first-child{
    font-size: .9em;
    color: rgb(100, 98, 98);
    display: flex;
    flex-wrap: wrap;

}