div{
    width: 40%;
    border: 1px solid #c0c0c0;
    word-wrap: break-word;
    margin: 8% auto;
    box-shadow: 5px 0 5px rgba(66, 252, 4, 0.338), -.1em 0 0.7em rgba(4, 227, 15, 0.475);
    background-color: #dedddd1f;
    text-align: center;
}