<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-18">
            <div class="card" style="border-radius: 1rem;">
                <div class="row">
                    <div class="col-md-11 col-lg-6 d-none d-md-block">
                        <img src="assets/images/loan.png" alt="login form" class="img-fluid"
                            style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-6 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">


                            <form>

                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <span class="h3 fw-bold mb-3" style="color: #78244c;">Apply Loan</span>
                                </div>


                                <div class="form-group">
                                    <label for="loanamt">Loan amount</label>
                                    <input class="form-control" type="number" id="loanamt" name="loanamt"
                                        formControlName="loanamt" placeholder="Enter loan amount">

                                </div>
                                <div class="form-group">
                                    <label for="loanroi">Rate of interest</label>
                                    <input class="form-control" type="number" id="loanroi" name="loanroi"
                                        formControlName="loanroi" placeholder="Enter loan rate of interest">

                                </div>
                                <div class="form-group">
                                    <label for="loanperiod">Period</label>
                                    <input class="form-control" type="number" id="loanperiod" name="loanperiod"
                                        formControlName="loanperiod" placeholder="Enter loan period in years">

                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>