<main>
    <h1>Transfer Money</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group"class="form-group">
            <label for="senderAccNo" class="form-label">Account Number</label>
            <input type="text" name="senderAccountNumber" [(ngModel)]="formData.creditParty" id="senderAccNo" required>
        </div>
        <div class="form-group">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" name="Amount" [(ngModel)]="formData.transactionAmount" id="amount" required>
        </div>
        <div class="form-group">
            <label for="Tmode" class="form-label">transaction Mode</label>
            <input type="text" name="Tmode" [(ngModel)]="formData.transactionMode" id="Tmode" required>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</main>