<h1>Transactions</h1>
<div class="main">
    <div class="addTrans">

        <a routerLink="/home/transfer">
            <img src="/assets/images/inheritance.gif" alt="send money icons">
            <br>
            Send money
        </a>
    </div>
    <div class="bill">
        <a routerLink="/home/bill">
            <img src="/assets/images/bill.gif" alt="bill icons">
            <br>
            Bill
        </a>
    </div>
    <div class="statement">

        <a routerLink="/home/statement">
            <img src="/assets/images/transfer.gif" alt="statement icons">
            <br>
            Statement
        </a>
    </div>
</div>
<router-outlet></router-outlet>