<h1>Transactions</h1>
<div class="main">
<div class="addTrans">
    
    <a href="/home/transactions/transfer">
        <img src="/assets/images/inheritance.gif" alt="send money icons">
        <br>
        Send money
    </a>
</div>
<div class="bill">
    <a href="/home/transactions/bill">
    <img src="/assets/images/bill.gif" alt="bill icons">
    <br>
        Bill
    </a>
</div>
<div class="statement">

    <a href="/home/transactions/statement">
        <img src="/assets/images/transfer.gif" alt="statement icons">
        <br>
        Statement
    </a>
</div>
</div>