<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-18">
      <div class="card" style="border-radius: 1rem;">
        <div class="row">
          <div class="col-md-11 col-lg-6 d-none d-md-block">
            <img src="assets/images/login-pic1.png"
              alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
          </div>
          <div class="col-md-6 col-lg-6 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">

              <form>

                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h3 fw-bold mb-3" style="color: #78244c;">Sign into your account</span>
                </div>


                <div class="form-outline mb-4">
                  <input type="email" id="form2Example17" class="form-control form-control-lg"
                  placeholder="Email" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg"
                      placeholder="Password" />
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-secondary btn-lg btn-block" type="button">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/registration"
                        style="color: #c03c3c;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
